# Third-party reference material (copyrighted, kept local only)
3NPS-Major-Scales.jpg
3NPS-Melodic-Minor-724x1024.jpg
7PS-Maj7-arpeggios.jpg
Cmaj7.webp
il_1588xN.*.avif
Minor-Pentatonic-724x1024.jpg

node_modules/
